<button (click)="rotate('clockWise')">↻</button>
<button (click)="rotate('anti-clockWise')">↺</button>
<button class="upright" (click)="rotate('upright')">
  <img src="../../assets/compass.png" alt="compass" width=10>
</button>
<button (click)="draw('point')">Point</button>
<button (click)="draw('line')">Line</button>
<button (click)="draw('polygon')">Polygon</button>
<button (click)="draw('circle')">Circle</button>
<button id="snap" (click)="snap()">Snap</button>
<div class="map" id="olmap"></div>
