<mat-toolbar color="primary" class="nav-bar" >
  <div>
    <span>
      <a href="./gmap">Google Map Visualisation</a>
    </span>
    <span>
      <a href="./gmapInteractive">Google Map Interactions</a>
    </span>
    <span>
      <a href="./ol">Open Layers</a>
    </span>
  </div>
  <div class="repo" >
    <a target="_blank" href="https://github.com/MuthangaShem/angularMaps">
        <img src="../assets/github.png" width=60 alt="">
    </a>

  </div>
</mat-toolbar>

<router-outlet></router-outlet>
